@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #161512;
  --bg-panel: #262421;
  --text-soft: #bababa;
  --accent-gold: #bf811d;
}

body {
  @apply bg-[#161512] text-[#bababa];
}
